.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $color-primary;
  width: 100%;
  height: 10rem;

  &__frame {
    position: relative;
    width: 70%;
    height: 4rem;
    border-radius: 1rem;
    overflow: hidden;
    // background-color: blue;
  }

 /*  &__frame:has(&__button:hover) {
    overflow: visible;
  }
 */
  &__input-field {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
    outline: none;
    padding: 0 2rem;
    font-size: $font-size-large-1;

    &:focus {
      border: 2px solid $color-accent-bright;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    background-color: $color-accent;
    width: 7%;
    height: 100%;
    color: #fff;
    z-index: 1;
    transition: all .2s;

    &:hover  {
      background-color: $color-accent-bright;
      cursor: pointer;
      width: 10%;
      color: $color-grey-darker;
      box-shadow: 0 0 30px $color-accent-bright;
    }

    &:active {
      background-color: rgb(150, 120, 23);
      color: #fff;
      box-shadow: none;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &__info {
    color: #fff;
  }
}