
.flex-con {
    display: flex;
    justify-content: space-between;
    
    padding: 5rem;

    @include respond(phone) {
        flex-direction: column;
    }
}

.flex-con__item-1 {
    width: 45%;

    @include respond(phone) {
        width: 100%;
        text-align: center;
    }
}

.flex-con__item-2 {
    border-radius: 1rem;
    background-color: rgba(136, 220, 248, 0.3);
    padding: 5rem 3rem;
    box-shadow: $shadow-dark;
    position: relative;
    width: 45%;

    @include respond(phone) {
        width: 100%;
        margin-top: 5rem;
    }
}